.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 3vh;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center



}